@import "tailwindcss";

@theme {
  --color-primary: #15803d;
  --color-secondary: #166534;
  --color-lightGreen: #dcfce7;
  --color-darkGreen: #064e3b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
